<app-page-header [headerTitle]="'Change Password'"></app-page-header>
<div class="sm:mr-auto sm:w-full sm:max-w-sm">
  <form [formGroup]="changePasswordForm" class="space-y-5" autocomplete="off" (ngSubmit)="handleChangePassword()">
    <p *ngIf="!!errorMsg" class="mb-6 text-center text-xs font-medium text-red-600">
      {{errorMsg}}
    </p>
    <div>
      <label for="old_password" class="block text-sm font-medium leading-6 text-gray-900">Current Password</label>
      <div class="mt-2">
        <input id="old_password" name="old_password" formControlName="old_password" type="password" autocomplete="off"
          class="block w-full rounded-md border-0 p-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
          <div class="mt-0.5" *ngIf="(formControls['old_password'].dirty || formControls['old_password'].touched) && formControls['old_password'].errors">
            <p class="text-xs text-rose-500" *ngIf="formControls['old_password'].errors?.['required']">
              Password is missing
            </p>
            <p class="text-xs text-rose-500" *ngIf="formControls['old_password'].errors?.['minlength']">
              Password must be at least 6 characters long
            </p>
          </div>
      </div>
    </div>
    <div>
      <label for="new_password" class="block text-sm font-medium leading-6 text-gray-900">New Password</label>
      <div class="mt-2">
        <input (ngModelChange)="updateConfirmValidator()" id="new_password" name="new_password" formControlName="new_password" type="password" autocomplete="off"
          class="block w-full rounded-md border-0 p-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
          <div class="mt-0.5" *ngIf="(formControls['new_password'].dirty || formControls['new_password'].touched) && formControls['new_password'].errors">
            <p class="text-xs text-rose-500" *ngIf="formControls['new_password'].errors?.['required']">
              Password is missing
            </p>
            <p class="text-xs text-rose-500" *ngIf="formControls['new_password'].errors?.['minlength']">
              Password must be at least 6 characters long
            </p>
          </div>
      </div>
    </div>
    <div>
      <label for="confirm_password" class="block text-sm font-medium leading-6 text-gray-900">Confirm New Password</label>
      <div class="mt-2">
        <input id="confirm_password" name="confirm_password" formControlName="confirm_password" type="password" autocomplete="off"
          class="block w-full rounded-md border-0 p-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
        <div class="mt-0.5" *ngIf="(formControls['confirm_password'].dirty || formControls['confirm_password'].touched) && formControls['confirm_password'].errors">
          <p class="text-xs text-rose-500" *ngIf="formControls['confirm_password'].errors?.['required']">
            Please confirm your password
          </p>
          <p class="text-xs text-rose-500" *ngIf="formControls['confirm_password'].errors?.['confirm']">
            Passwords do not match
          </p>
        </div>
      </div>
    </div>
    <div>
      <button [disabled]="!changePasswordForm.valid || isLoading" type="submit"
        class="flex w-full items-center justify-center rounded-md bg-indigo-600 px-3 p-2 text-sm font-semibold leading-6 text-white shadow-sm enabled:hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 disabled:cursor-not-allowed disabled:opacity-60">
        <svg *ngIf="isLoading" class="animate-spin -ml-1 mr-3 h-5 w-5 text-white" xmlns="http://www.w3.org/2000/svg"
          fill="none" viewBox="0 0 24 24">
          <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
          <path class="opacity-75" fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z">
          </path>
        </svg>Change password</button>
    </div>
  </form>

</div>
