<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
  <div class="sm:mx-auto sm:w-full sm:max-w-sm">
    <a href="/">
      <img class="mx-auto h-14 w-auto" src="assets/images/ecommerce.png" alt="Bazaar">
    </a>
    <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">{{hasSentResetInstructions ? 'Check your email': 'Reset your password'}}</h2>
  </div>

  <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
    <ng-container *ngIf="hasSentResetInstructions; else showForm">
      <div>
        <p class="text-center text-sm text-gray-500">
        We just sent you an email with instructions for resetting your password. If you don't receive an email, <a (click)="resetAndUseDiffEmail()" class="font-semibold leading-6 text-indigo-600 hover:text-indigo-500 cursor-pointer">try again with a different email address</a>
        </p>
      </div>
    </ng-container>

   <ng-template #showForm>

    <form class="space-y-5" autocomplete="off" (ngSubmit)="handleResetPassword(email)">
      <p *ngIf="!!errorMsg" class="mb-6 text-center text-xs font-medium text-red-600">
        {{errorMsg}}
      </p>
      <div>
        <label for="email" class="block text-sm font-medium leading-6 text-gray-900">Email address</label>
        <div class="mt-2">
          <input id="email" name="email" type="email" email autocomplete="donotcompleteemail" required
            class="block w-full rounded-md border-0 p-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
            #email="ngModel" [(ngModel)]="emailInput">
          <p class="mt-0.5 text-xs text-rose-500" *ngIf="!email?.valid && (email?.dirty || email?.touched)">
            Valid email is missing
          </p>
        </div>
      </div>
      <div>
        <button [disabled]="!email.valid || isLoading" type="submit"
          class="flex w-full items-center justify-center rounded-md bg-indigo-600 px-3 p-2 text-sm font-semibold leading-6 text-white shadow-sm enabled:hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 disabled:cursor-not-allowed disabled:opacity-60">
          <svg *ngIf="isLoading" class="animate-spin -ml-1 mr-3 h-5 w-5 text-white" xmlns="http://www.w3.org/2500/svg"
            fill="none" viewBox="0 0 24 24">
            <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
            <path class="opacity-75" fill="currentColor"
              d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z">
            </path>
          </svg>Reset password</button>
      </div>
    </form>

    <p class="mt-10 text-center text-sm text-gray-500">
      Remember password?
      <a [routerLink]="['/auth/login']" class="font-semibold leading-6 text-indigo-600 hover:text-indigo-500">Back to
        login</a>
    </p>
   </ng-template>
  </div>
</div>


