<div class="">
  <a [routerLink]="['/products', product._id]" routerLinkActive="router-link-active" >
   <!-- <div>
     <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-lg bg-gray-200 xl:aspect-h-7 xl:aspect-w-7">
       <img [src]="'http://localhost:8000/'+product.main_image" [alt]="product.product_name">
     </div>
    </div> -->
    <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-md bg-gray-200 lg:aspect-none group-hover:opacity-75 lg:h-80">
      <img [src]="product.main_image | imageUrl" [alt]="product.product_name" class="h-full w-full object-cover object-center lg:h-full lg:w-full">
    </div>
     <h3 class="mt-3 text-sm text-gray-700">{{product.product_name}}</h3>
     <p class="mt-1 text-lg font-medium text-gray-900">{{product.product_price | currency: '₦'}}</p>
   </a>
   <button (click)="openProductReviewModal()" type="button" class="relative z-10 w-full rounded-md bg-gray-200 hover:bg-gray-300 font-medium px-4 py-2 text-sm text-black focus:opacity-100 mt-3" >Quick View<span class="sr-only">, {{product.product_name}} </span></button>
 </div>


 <div #productReviewModalRef class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full" id="productPreviewModal" tabindex="-1" aria-hidden="true">
  <div class="relative w-full  md:max-w-2xl lg:max-w-4xl max-h-full">
    <div class="flex w-full transform text-left text-base transition md:my-8 md:px-4">
      <div class="relative flex w-full items-center overflow-hidden bg-white px-4 pb-8 pt-14 shadow-2xl sm:px-6 sm:pt-8 md:p-6 lg:p-8">
        <button (click)="closeProductReviewModal()" type="button" class="absolute right-4 top-4 text-gray-400 hover:text-gray-500 sm:right-6 sm:top-8 md:right-6 md:top-6 lg:right-8 lg:top-8">
          <span class="sr-only">Close</span>
          <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
          </svg>
        </button>

        <div class="grid w-full grid-cols-1 items-start gap-x-6 gap-y-8 sm:grid-cols-12 lg:gap-x-8">
          <div class="aspect-h-3 aspect-w-2 overflow-hidden rounded-lg bg-gray-100 sm:col-span-4 lg:col-span-5">
            <img [src]="product.main_image | imageUrl" [alt]="product.product_name" class="object-cover object-center">
          </div>
          <div class="sm:col-span-8 lg:col-span-7">
            <h2 class="text-2xl font-bold text-gray-900 sm:pr-12">{{product.product_name}}</h2>

            <section aria-labelledby="information-heading" class="mt-2">
              <h3 id="information-heading" class="sr-only">Product information</h3>

              <p class="text-2xl text-gray-900">{{product.product_price | currency: '₦'}}</p>
              <div class="mt-6">
                <h4 class="text-sm font-medium text-gray-900">Features</h4>

                <ul role="list" *ngIf="product.product_features.length > 0" class="list-disc space-y-2 pl-4 text-sm">
                  <li *ngFor="let feature of product.product_features"  class="text-gray-400">
                    <span class="text-gray-600">
                    {{feature}}
                  </span>
                </li>
                </ul>
              </div>
            </section>

            <section aria-labelledby="options-heading" class="mt-10">
              <h3 id="options-heading" class="sr-only">Product options</h3>

              <form>
                <!-- <div>
                  <h4 class="text-sm font-medium text-gray-900">Color</h4>

                  <fieldset class="mt-4">
                    <legend class="sr-only">Choose a color</legend>
                    <span class="flex items-center space-x-3">
                      <label class="relative -m-0.5 flex cursor-pointer items-center justify-center rounded-full p-0.5 focus:outline-none ring-gray-400">
                        <input type="radio" name="color-choice" value="White" class="sr-only" aria-labelledby="color-choice-0-label">
                        <span id="color-choice-0-label" class="sr-only">White</span>
                        <span aria-hidden="true" class="h-8 w-8 bg-white rounded-full border border-black border-opacity-10"></span>
                      </label>
                      <label class="relative -m-0.5 flex cursor-pointer items-center justify-center rounded-full p-0.5 focus:outline-none ring-gray-400">
                        <input type="radio" name="color-choice" value="Gray" class="sr-only" aria-labelledby="color-choice-1-label">
                        <span id="color-choice-1-label" class="sr-only">Gray</span>
                        <span aria-hidden="true" class="h-8 w-8 bg-gray-200 rounded-full border border-black border-opacity-10"></span>
                      </label>
                      <label class="relative -m-0.5 flex cursor-pointer items-center justify-center rounded-full p-0.5 focus:outline-none ring-gray-900">
                        <input type="radio" name="color-choice" value="Black" class="sr-only" aria-labelledby="color-choice-2-label">
                        <span id="color-choice-2-label" class="sr-only">Black</span>
                        <span aria-hidden="true" class="h-8 w-8 bg-gray-900 rounded-full border border-black border-opacity-10"></span>
                      </label>
                    </span>
                  </fieldset>
                </div> -->

                <div class="mt-10">
                  <div class="flex items-center justify-between">
                    <h4 class="text-sm font-medium text-gray-900">Size</h4>
                    <a href="#" class="text-sm font-medium text-indigo-600 hover:text-indigo-500">Size guide</a>
                  </div>

                  <fieldset class="mt-4">
                    <legend class="sr-only">Choose a size</legend>
                    <div class="grid grid-cols-4 lg:grid-cols-7 gap-4">
                      <label *ngFor="let size of productSizes" class="group relative flex items-center justify-center rounded-md border py-3 px-4 text-sm font-medium uppercase hover:bg-gray-50 focus:outline-none sm:flex-1 cursor-pointer bg-white text-gray-900 shadow-sm">
                        <input type="radio" name="size-choice" [(ngModel)]="product.product_size" [value]="size" class="sr-only peer" [attr.aria-labelledby]="size+'-label'">
                        <span [id]="size+'-label'">{{size}}</span>

                        <span class="pointer-events-none absolute -inset-px rounded-md border border-transparent peer-checked:border-indigo-500  peer-checked:ring peer-checked:ring-indigo-500" aria-hidden="true"></span>
                      </label>

                    </div>
                  </fieldset>
                </div>
                <button (click)="addToCart()" [disabled]="isAddingToCart" type="button" class="mt-6 flex w-full items-center justify-center rounded-md border border-transparent bg-indigo-600 px-8 py-3 text-base font-medium text-white enabled:hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-60">
                  <svg *ngIf="isAddingToCart" class="animate-spin -ml-1 mr-3 h-5 w-5 text-white" xmlns="http://www.w3.org/2000/svg"
                  fill="none" viewBox="0 0 24 24">
                  <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                  <path class="opacity-75" fill="currentColor"
                    d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z">
                  </path>
                </svg>
                  Add to bag</button>
                <p class="mt-3 text-center"><a href="/products/tee-shirt" class="text-indigo-700 font-medium">View full details</a></p>
              </form>
            </section>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
