<div class="bg-white">
  <div id="drawer-example" role="dialog" aria-modal="true" class="fixed top-0 left-0 z-50 h-screen overflow-y-auto w-full max-w-xs transition-transform -translate-x-full">
    <div class="relative flex w-full flex-col overflow-y-auto bg-white pb-12 h-full shadow-xl">
      <div class="flex px-4 pb-2 pt-5">
        <button data-drawer-hide="drawer-example" aria-controls="drawer-example" type="button" class="relative -m-2 inline-flex items-center justify-center rounded-md p-2 text-gray-400">
          <span class="absolute -inset-0.5"></span>
          <span class="sr-only">Close menu</span>
          <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
          </svg>
        </button>
      </div>

      <div class="space-y-6 border-t border-gray-200 px-4 py-6">
        <div class="flow-root">
          <a data-drawer-hide="drawer-example" [routerLink]="['/products']" routerLinkActive="active" class="-m-2 block p-2 font-medium text-gray-900">Shop</a>
        </div>
        <div class="flow-root">
          <a data-drawer-hide="drawer-example" [routerLink]="['/faqs']" routerLinkActive="active" class="-m-2 block p-2 font-medium text-gray-900">FAQs</a>
        </div>
      </div>

      <div class="space-y-6 border-t border-gray-200 px-4 py-6">
        <ng-container *ngIf="auth.isAuthenticated; else showMobileAuth">
          <div class="flow-root">
            <p>
              Hello, <span class="font-semibold text-indigo-600">{{user?.first_name}}</span>
            </p>
          </div>
          <div class="flow-root">
            <a data-drawer-hide="drawer-example" href="#" class="-m-2 block p-2 font-medium text-rose-900">Log Out</a>
          </div>
        </ng-container>
        <ng-template #showMobileAuth>
          <div class="flow-root">
            <a data-drawer-hide="drawer-example" href="#" class="-m-2 block p-2 font-medium text-gray-900">Sign in</a>
          </div>
          <div class="flow-root">
            <a data-drawer-hide="drawer-example" href="#" class="-m-2 block p-2 font-medium text-gray-900">Create account</a>
          </div>
        </ng-template>
      </div>

      <div class="border-t border-gray-200 px-4 py-6">
        <a href="#" class="-m-2 flex items-center p-2">
          <img src="https://tailwindui.com/img/flags/flag-canada.svg" alt="" class="block h-auto w-5 flex-shrink-0">
          <span class="ml-3 block text-base font-medium text-gray-900">CAD</span>
          <span class="sr-only">, change currency: '₦'</span>
        </a>
      </div>
    </div>
  </div>

  <header class="relative bg-white">
    <nav aria-label="Top" class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
      <div >
        <div class="flex h-16 items-center">
          <!-- Mobile menu toggle, controls the 'mobileMenuOpen' state. -->
          <button type="button" data-drawer-target="drawer-example" data-drawer-show="drawer-example" aria-controls="drawer-example" class="relative rounded-md bg-white py-2 text-gray-400 lg:hidden">
            <span class="absolute -inset-0.5"></span>
            <span class="sr-only">Open menu</span>
            <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
            </svg>
          </button>

          <!-- Logo -->
          <div class="ml-4 flex lg:ml-0">
            <a href="#">
              <span class="sr-only">Bazaar</span>
              <img class="h-8 w-auto" src="assets/images/ecommerce.png" alt="">
            </a>
          </div>

          <!-- Flyout menus -->
          <div class="hidden lg:ml-8 lg:block lg:self-stretch">
            <div class="flex h-full space-x-8">

              <a [routerLink]="['/products']" routerLinkActive="active" class="flex items-center text-sm font-medium text-gray-700 hover:text-gray-800">Shop</a>
              <a [routerLink]="['/faqs']" routerLinkActive="active" class="flex items-center text-sm font-medium text-gray-700 hover:text-gray-800">FAQs</a>
            </div>
          </div>

          <div class="ml-auto flex items-center">
            <ng-container *ngIf="auth.isAuthenticated; else showWebAuth">
              <div class="hidden lg:flex lg:flex-1 lg:items-center lg:justify-end lg:space-x-6">
                <p>
                  Hello, <span class="font-semibold text-indigo-600">{{user?.first_name}}</span>
                </p>
                <span class="h-6 w-px bg-gray-200" aria-hidden="true"></span>
                <a [routerLink]="['/auth/login']" class="text-sm font-medium text-rose-700 hover:text-rose-800">Log Out</a>
              </div>
            </ng-container>
           <ng-template #showWebAuth>
            <div class="hidden lg:flex lg:flex-1 lg:items-center lg:justify-end lg:space-x-6">
              <a [routerLink]="['/auth/login']" class="text-sm font-medium text-gray-700 hover:text-gray-800">Sign in</a>
              <span class="h-6 w-px bg-gray-200" aria-hidden="true"></span>
              <a [routerLink]="['/auth/register']" class="text-sm font-medium text-gray-700 hover:text-gray-800">Create account</a>
            </div>
           </ng-template>

            <div class="hidden lg:ml-8 lg:flex">
              <a href="#" class="flex items-center text-gray-700 hover:text-gray-800">
                <img src="assets/images/ng.svg" alt="" class="block h-auto w-5 flex-shrink-0">
                <span class="ml-3 block text-sm font-medium">NGN</span>
                <span class="sr-only">, change currency: '₦'</span>
              </a>
            </div>

            <!-- Search -->
            <div class="flex lg:ml-6">
              <span class="p-2 text-gray-400 hover:text-gray-500">
                <span class="sr-only">Search</span>
                <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z" />
                </svg>
              </span>
            </div>

            <!-- Cart -->
            <app-cart-preview *ngIf="!hideMenu" class="ml-4 flow-root lg:ml-6"></app-cart-preview>
            <!-- <div class="ml-4 flow-root lg:ml-6">
              <button type="button" data-drawer-placement="right" data-drawer-target="drawer-example" data-drawer-show="drawer-example" aria-controls="drawer-example" class="group -m-2 flex items-center p-2">
                <svg class="h-6 w-6 flex-shrink-0 text-gray-400 group-hover:text-gray-500" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 10.5V6a3.75 3.75 0 10-7.5 0v4.5m11.356-1.993l1.263 12c.07.665-.45 1.243-1.119 1.243H4.25a1.125 1.125 0 01-1.12-1.243l1.264-12A1.125 1.125 0 015.513 7.5h12.974c.576 0 1.059.435 1.119 1.007zM8.625 10.5a.375.375 0 11-.75 0 .375.375 0 01.75 0zm7.5 0a.375.375 0 11-.75 0 .375.375 0 01.75 0z" />
                </svg>
                <span class="ml-2 text-sm font-medium text-gray-700 group-hover:text-gray-800">{{cartTotal | async}}</span>
                <span class="sr-only">items in cart, view bag</span>
              </button>
            </div> -->
          </div>
        </div>
      </div>
    </nav>
  </header>
</div>


