<app-page-header [headerTitle]="'Products'"></app-page-header>

<h2 class="text-2xl font-bold tracking-tight text-gray-900">Trending</h2>
<ng-container *ngIf="isLoading; else elseBlock">
  <app-products-list-skeleton></app-products-list-skeleton>
</ng-container>
<ng-template #elseBlock>

  <ng-container *ngIf="products.length; else showEmpty">
    <div class="grid grid-cols-1 mt-6 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 xl:gap-x-8">
      <app-product-card *ngFor="let product of products" [product]="product"></app-product-card>
    </div>
  </ng-container>
</ng-template>

<app-pagination *ngIf="products.length" (pageChange)="paginate($event)" [disableButtons]="isLoading" [currentPage]="page" [pageSize]="limit" [totalItems]="pageData?.totalItems!" [totalPages]="pageData?.totalPages!" [pageLimit]="pageData?.pageLimit!" [pageStart]="pageData?.pageStart!"></app-pagination>

<ng-template #showEmpty>
  <div class="py-14 ">
    <div class="py-10 px-8 max-w-sm mx-auto">
      <svg class="h-7 w-7 mx-auto flex-shrink-0 text-gray-600" fill="none" stroke="currentColor" stroke-width="1.5"
        viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
        <path stroke-linecap="round" stroke-linejoin="round"
          d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 00-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 00-16.536-1.84M7.5 14.25L5.106 5.272M6 20.25a.75.75 0 11-1.5 0 .75.75 0 011.5 0zm12.75 0a.75.75 0 11-1.5 0 .75.75 0 011.5 0z">
        </path>
      </svg>
      <h1 class="font-bold text-base tracking-wider text-center mt-8">No products found</h1>
      <p class="mt-4 text-center text-sm text-gray-500">
        We have no products right now. Please come back later
      </p>
    </div>
  </div>
</ng-template>
