<app-page-header [headerTitle]="'Products'"></app-page-header>

<h2 class="text-2xl font-bold tracking-tight text-gray-900">Trending</h2>
<ng-container *ngIf="isLoading; else elseBlock">
  <app-products-list-skeleton></app-products-list-skeleton>
</ng-container>
<ng-template #elseBlock>

  <div class="grid grid-cols-1 mt-6 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 xl:gap-x-8">
    <ng-container *ngIf="products.length">
      <app-product-card *ngFor="let product of products" [product]="product"></app-product-card>
    </ng-container>
  </div>
</ng-template>
