<ul class="flex items-center justify-center py-4 md:py-8 flex-wrap">
  <li *ngFor="let item of all_categores">
    <input (ngModelChange)="changeImagesArray($event)" type="radio" [id]="item.value" name="category" [value]="item.value" [(ngModel)]="category" class="hidden peer" required>
    <label [htmlFor]="item.value"
      class="inline-flex text-gray-900 border border-white hover:border-gray-200 bg-white focus:ring-4 focus:outline-none focus:ring-gray-300 rounded-full text-base font-medium px-5 py-2.5 capitalize text-center mr-3 peer-checked:border-blue-600 peer-checked:text-blue-600 cursor-pointer">
      {{item.label}}
    </label>
  </li>
</ul>
<div class="grid grid-cols-2 md:grid-cols-3 gap-4 pb-16">
  <div *ngFor="let image of images">
    <img class="h-auto max-w-full rounded-lg" [src]="image.image"
      alt="">
  </div>
</div>
