<ul class="flex items-center justify-center py-4 md:py-8 flex-wrap">
  <li>
    <input type="radio" id="all" name="hosting" value="all" [(ngModel)]="category" class="hidden peer" required>
    <label for="all" class="inline-flex text-gray-900 border border-white hover:border-gray-200 bg-white focus:ring-4 focus:outline-none focus:ring-gray-300 rounded-full text-base font-medium px-5 py-2.5 text-center mr-3 peer-checked:border-blue-600 peer-checked:text-blue-600">
      All categories
  </label>
  </li>
  <li>
    <input type="radio" id="shoes" name="hosting" value="shoes" [(ngModel)]="category" class="hidden peer" required>
    <label for="shoes" class="inline-flex text-gray-900 border border-white hover:border-gray-200 bg-white focus:ring-4 focus:outline-none focus:ring-gray-300 rounded-full text-base font-medium px-5 py-2.5 text-center mr-3 peer-checked:border-blue-600 peer-checked:text-blue-600">
      Shoes
  </label>
  </li>
  <li>
    <input type="radio" id="bags" name="hosting" value="bags" [(ngModel)]="category" class="hidden peer" required>
    <label for="bags" class="inline-flex text-gray-900 border border-white hover:border-gray-200 bg-white focus:ring-4 focus:outline-none focus:ring-gray-300 rounded-full text-base font-medium px-5 py-2.5 text-center mr-3 peer-checked:border-blue-600 peer-checked:text-blue-600">
      Bags
  </label>
  </li>
  <li>
    <input type="radio" id="electronics" name="hosting" [(ngModel)]="category" value="electronics" class="hidden peer" required>
    <label for="electronics" class="inline-flex text-gray-900 border border-white hover:border-gray-200 bg-white focus:ring-4 focus:outline-none focus:ring-gray-300 rounded-full text-base font-medium px-5 py-2.5 text-center mr-3 peer-checked:border-blue-600 peer-checked:text-blue-600">
      Electronics
  </label>
  </li>
  <li>
    <input type="radio" id="gaming" name="hosting" [(ngModel)]="category" value="gaming" class="hidden peer" required>
    <label for="gaming" class="inline-flex text-gray-900 border border-white hover:border-gray-200 bg-white focus:ring-4 focus:outline-none focus:ring-gray-300 rounded-full text-base font-medium px-5 py-2.5 text-center mr-3 peer-checked:border-blue-600 peer-checked:text-blue-600">
      Gaming
  </label>
  </li>
</ul>
<div class="grid grid-cols-2 md:grid-cols-3 gap-4 pb-16">
  <div>
      <img class="h-auto max-w-full rounded-lg" src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image.jpg" alt="">
  </div>
  <div>
      <img class="h-auto max-w-full rounded-lg" src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-1.jpg" alt="">
  </div>
  <div>
      <img class="h-auto max-w-full rounded-lg" src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-2.jpg" alt="">
  </div>
  <div>
      <img class="h-auto max-w-full rounded-lg" src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-3.jpg" alt="">
  </div>
  <div>
      <img class="h-auto max-w-full rounded-lg" src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-4.jpg" alt="">
  </div>
  <div>
      <img class="h-auto max-w-full rounded-lg" src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-5.jpg" alt="">
  </div>
  <div>
      <img class="h-auto max-w-full rounded-lg" src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-6.jpg" alt="">
  </div>
  <div>
      <img class="h-auto max-w-full rounded-lg" src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-7.jpg" alt="">
  </div>
  <div>
      <img class="h-auto max-w-full rounded-lg" src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-8.jpg" alt="">
  </div>
  <div>
      <img class="h-auto max-w-full rounded-lg" src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-9.jpg" alt="">
  </div>
  <div>
      <img class="h-auto max-w-full rounded-lg" src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-10.jpg" alt="">
  </div>
  <div>
      <img class="h-auto max-w-full rounded-lg" src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-11.jpg" alt="">
  </div>
</div>
