<app-page-header [headerTitle]="'Checkout'"></app-page-header>

<div class="grid grid-cols-1 lg:grid-cols-3 gap-x-14">
<div class="space-y-12 sm:col-span-2">
  <div class="">
    <h2 class="text-base font-semibold leading-7 text-gray-900">Shipping information</h2>

    <div class="mt-8 border shadow-xs rounded-xl">
      <div class="flow-root">
        <ul role="list" class="divide-y divide-gray-200">
          <li class="flex p-6">
            <div class="h-24 w-24 flex-shrink-0 overflow-hidden rounded-md border border-gray-200">
              <img src="https://tailwindui.com/img/ecommerce-images/shopping-cart-page-04-product-01.jpg" alt="Salmon orange fabric pouch with match zipper, gray zipper pull, and adjustable hip belt." class="h-full w-full object-cover object-center">
            </div>

            <div class="ml-4 flex flex-1 flex-col">
              <div>
                <div class="flex justify-between text-base font-medium text-gray-900">
                  <h3>
                    <a href="#">Throwback Hip Bag</a>
                  </h3>
                  <button type="button" class="flex ml-4 text-rose-500 hover:text-rose-700">
                    <span class="sr-only">Remove</span>
                    <svg class="w-6 h-6" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"></path>
                    </svg>
                  </button>
                </div>
                <p class="mt-1 text-sm text-gray-500">Salmon</p>
              </div>
              <div class="flex flex-1 items-end justify-between text-sm">
                <p class="">$90.00</p>

                <select id="quantity" name="quantity" class="block rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:max-w-xs sm:text-sm sm:leading-6">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>10</option>
                  <option>200</option>
                </select>
              </div>
            </div>
          </li>
          <li class="flex p-6">
            <div class="h-24 w-24 flex-shrink-0 overflow-hidden rounded-md border border-gray-200">
              <img src="https://tailwindui.com/img/ecommerce-images/shopping-cart-page-04-product-02.jpg" alt="Front of satchel with blue canvas body, black straps and handle, drawstring top, and front zipper pouch." class="h-full w-full object-cover object-center">
            </div>

            <div class="ml-4 flex flex-1 flex-col">
              <div>
                <div class="flex justify-between text-base font-medium text-gray-900">
                  <h3>
                    <a href="#">Medium Stuff Satchel</a>
                  </h3>
                  <button type="button" class="flex ml-4 text-rose-500 hover:text-rose-700">
                    <span class="sr-only">Remove</span>
                    <svg class="w-6 h-6" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"></path>
                    </svg>
                  </button>
                </div>
                <p class="mt-1 text-sm text-gray-500">Blue</p>
              </div>
              <div class="flex flex-1 items-end justify-between text-sm">
                <p class="">$90.00</p>

                <select id="quantity" name="quantity" class="block rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:max-w-xs sm:text-sm sm:leading-6">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>10</option>
                  <option>200</option>
                </select>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <!-- <div class="py-6">
        <div class="w-80">
          <label for="first-name" class="block text-sm font-medium leading-6 text-gray-900">Discount Code</label>
          <div class="mt-2">
            <div class="flex gap-4">
              <input type="text" name="first-name" id="first-name" autocomplete="given-name" class="block w-full rounded-md border-0 px-2 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
              <button type="button" class="flex items-center justify-center rounded-md border border-transparent bg-indigo-600 px-6 p-1.5 text-base font-medium text-white shadow-sm hover:bg-indigo-700">Apply</button>
            </div>
          </div>
        </div>
      </div> -->
    </div>
  </div>
</div>
<div>
  <div>
    <h2 class="text-base font-semibold leading-7 text-gray-900">Order Summary</h2>
    <div class="mt-8 border shadow-xs rounded-xl">
      <div class="flow-root">
        <dl class="p-6 border-t border-b border-gray-200 space-y-6">
          <div class="flex items-center justify-between">
            <dt class="text-sm">Subtotal</dt>
            <dd class="text-sm font-medium text-gray-900">
              $789.90
            </dd>
          </div>
          <div class="flex justify-between">
            <dt class="text-sm">Delivery</dt>
            <dd class="text-sm font-medium text-gray-900 ml-24 text-right">
              Add your Delivery address at checkout to see delivery charges
            </dd>
          </div>
          <div class="flex items-center justify-between">
            <dt class="text-sm">Total</dt>
            <dd class="text-sm font-medium text-gray-900">
              $789.90
            </dd>
          </div>
        </dl>
        <div class="p-6">
          <a href="/checkout" class="flex w-full items-center justify-center rounded-md border border-transparent bg-indigo-600 px-6 py-3 text-base font-medium text-white shadow-sm hover:bg-indigo-700">Continue to checkout</a>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

