
<div class="">
  <button type="button" (click)="openDrawer()" class="group -m-2 flex items-center p-2">
    <svg class="h-6 w-6 flex-shrink-0 text-gray-400 group-hover:text-gray-500" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
      <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 10.5V6a3.75 3.75 0 10-7.5 0v4.5m11.356-1.993l1.263 12c.07.665-.45 1.243-1.119 1.243H4.25a1.125 1.125 0 01-1.12-1.243l1.264-12A1.125 1.125 0 015.513 7.5h12.974c.576 0 1.059.435 1.119 1.007zM8.625 10.5a.375.375 0 11-.75 0 .375.375 0 01.75 0zm7.5 0a.375.375 0 11-.75 0 .375.375 0 01.75 0z" />
    </svg>
    <span class="ml-2 text-sm font-medium text-gray-700 group-hover:text-gray-800">{{cartTotal | async}}</span>
    <span class="sr-only">items in cart, view bag</span>
  </button>
</div>


<div #drawerRef class="fixed top-0 right-0 z-50 h-screen overflow-y-auto transition-transform translate-x-full " tabindex="-1" aria-labelledby="drawer-label">
  <div class="pointer-events-auto max-w-md w-screen h-full">
    <div class="flex h-full flex-col overflow-y-scroll bg-white shadow-xl">
      <div class="flex-1 overflow-y-auto px-4 py-6 sm:px-6">
        <div class="flex items-start justify-between sticky top-0">
          <h2 class="text-lg font-medium text-gray-900" id="slide-over-title">Shopping cart</h2>
          <div class="ml-3 flex h-7 items-center">
            <button (click)="closeDrawer()" aria-controls="drawer-example" type="button" class="relative -m-2 p-2 text-gray-400 hover:text-gray-500">
              <span class="absolute -inset-0.5"></span>
              <span class="sr-only">Close panel</span>
              <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
              </svg>
            </button>
          </div>
        </div>
        <div class="mt-8">
          <div class="flow-root">
            <ng-container *ngIf="cartItems.length; else emptyCart"></ng-container>
            <ul role="list" class="-my-6 divide-y divide-gray-200">
              <li class="flex py-6" *ngFor="let item of cartItems">
                <div class="h-24 w-24 flex-shrink-0 overflow-hidden rounded-md border border-gray-200">
                  <img [src]="item.product.main_image | imageUrl" [alt]="item.product.product_name" class="h-full w-full object-cover object-center">
                </div>

                <div class="ml-4 flex flex-1 flex-col">
                  <div>
                    <div class="flex justify-between text-base font-medium text-gray-900">
                      <h3>
                        <a href="#">{{item.product.product_name}}</a>
                      </h3>
                      <p class="ml-4">{{item.product.product_price | currency: '₦'}}</p>
                    </div>
                    <p class="mt-1 text-sm text-gray-500">{{item.product.product_color}}</p>
                  </div>
                  <div class="flex flex-1 items-end justify-between text-sm">
                    <p class="text-gray-500">Qty {{item.quantity}}</p>

                    <div class="flex">
                      <button type="button" (click)="deleteFromCart(item)" class="font-medium text-indigo-600 hover:text-indigo-500">Remove</button>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div *ngIf="cartItems.length" class="border-t border-gray-200 px-4 py-6 sm:px-6">
        <div class="flex justify-between text-base font-medium text-gray-900">
          <p>Subtotal</p>
          <p>{{cartTotalSum | currency: '₦'}}</p>
        </div>
        <p class="mt-0.5 text-sm text-gray-500">Shipping and taxes calculated at checkout.</p>
        <div class="mt-6 flex items-center gap-x-6">
          <a (click)="closeDrawer()" [routerLink]="['/cart']"  class="flex w-full items-center justify-center rounded-md border border-gray-400 px-6 py-3 text-base font-medium text-gray-700 shadow-sm hover:bg-gray-100">
            View Cart
          </a>
          <a (click)="closeDrawer()" [routerLink]="['/checkout']" class="flex w-full items-center justify-center rounded-md border border-transparent bg-indigo-600 px-6 py-3 text-base font-medium text-white shadow-sm hover:bg-indigo-700">Checkout</a>
        </div>
        <div class="mt-6 flex justify-center text-center text-sm text-gray-500">
          <p>
            or
            <a [routerLink]="['/']" (click)="closeDrawer()" class="font-medium text-indigo-600 hover:text-indigo-500">
              Continue Shopping
              <span aria-hidden="true"> &rarr;</span>
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #emptyCart>
  <div class="py-10 px-8 max-w-sm mx-auto">
    <svg class="h-7 w-7 mx-auto flex-shrink-0 text-gray-600" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
      <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 10.5V6a3.75 3.75 0 10-7.5 0v4.5m11.356-1.993l1.263 12c.07.665-.45 1.243-1.119 1.243H4.25a1.125 1.125 0 01-1.12-1.243l1.264-12A1.125 1.125 0 015.513 7.5h12.974c.576 0 1.059.435 1.119 1.007zM8.625 10.5a.375.375 0 11-.75 0 .375.375 0 01.75 0zm7.5 0a.375.375 0 11-.75 0 .375.375 0 01.75 0z" />
    </svg>
    <h1 class="font-bold text-base tracking-wider text-center mt-8">Your cart is empty</h1>
    <p class="mt-4 text-center text-sm text-gray-500">
      Items remain in your bag for 60 minutes, and then they're cleared.
    </p>
    <p class="text-center mt-6 text-sm text-gray-500">
      <a [routerLink]="['/products']" (click)="closeDrawer()" class="font-semibold leading-6 text-indigo-600 hover:text-indigo-500">Continue shopping</a>
    </p>
  </div>
</ng-template>
